<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">فروشگاه روکسو</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">دستور غذا </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">لیست خرید</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
          >
            مدیریت
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">ذخیره</a></li>
            <li><a class="dropdown-item" href="#"> بارگزاری</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
